.Map-container {
    height: 100vh;
    position: sticky !important;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 16px;
}

.map {
    height: 100vh;
    
}

.Icon {
    border: 2px solid red;
    background: red;
}