/* .Results{
    border: 1px solid grey;
    height: 100vh;
    width: 100vw;
    background-color: white;
    color: black;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.router{
    width: 100%;
    margin-top:10px;
} */



/* .tab{
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    padding: 20px 80px;
    background-color: grey;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 3px 2px rgb(211, 210, 210) inset;
}

.mobileOnly{
    display: none;
} */
/* .desktopOnly{
    display: block;
} */

/* @media screen and (max-width: 768px) {
    .mobileOnly{
        display: block;
    }
    .desktopOnly{
        display: none;
    }
} */

/* .Results {
    height: 100vh;
    width: 100vw;
} */

.mobileOnly{
    display: none;
} 
.desktopOnly{
    display: block;
}

@media screen and (max-width: 960px) {
    .mobileOnly{
        display: block;
    }
    .desktopOnly{
        display: none;
    }
}
