footer{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;

	background-color: transparent;
	height: 50px;
	padding-bottom: 10px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

p{
	margin: 0;
	margin-right: 10px;
	padding: 0;
	color: #fff;
}

a{
	color: #fff;
	text-decoration: none;
}