@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
	font-family: "ParkLaneNF";
	src: url(font/ParkLaneNF.ttf);
}


.App-header{
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	width: 90%;
	margin: auto;
	margin-top:0; 
}

.App-title{
	/*color: #000;*/
	font-size: 5em;
	font-weight: none;
	font-family: 'ParkLaneNF', 'Roboto', sans-serif;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 7em;
}

@keyframes App-logo-spin {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}