@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
	font-family: "ParkLaneNF";
	src: url(font/ParkLaneNF.ttf);
}


.App-header{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	height: 40%;
	width: 100%;
	margin: auto;
	margin-top:0; 
}

.App-title{
	/*color: #000;*/
	font-size: 3em;
	font-weight: none;
	font-family: 'ParkLaneNF', 'Roboto', sans-serif;

}

@media screen and (max-width : 768px){
	.App-title{
		font-size: 1.5em;	
	}
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 7em;
}

@keyframes App-logo-spin {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(360deg); }
}