main {
	/*border: 1px solid yellow;*/
	/* width: 100%; */
	background: url(https://images.unsplash.com/photo-1521289934514-8634119fa6d8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0a12577590bdaa73c3901ecaf94b7a55&auto=format&fit=crop&w=2000&q=80) 50% 50% no-repeat;
	min-height: 100vh;
	width: 100vw;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

  	flex-flow: column nowrap;
  	padding: 0;
}
form{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/*border: 1px solid blue;*/
}

label{
	margin-bottom: 20px;
	font-size: 1.5em;
	color: white;
}

.inputs{

	/*background-color: #fff;*/
	width: 70%;
	/*max-width: 1000px;*/
	/*border: 1px solid red;*/
}

input{
	border-radius: 5px;
	border: none;
	padding: 20px 0;
	margin: 0;
	background-color: #fff;
	/*border: 1px solid green;*/
	font-size: 1.5rem;
}

input[type="submit"]{
	/*border-left: 1px #000 solid;*/
	width: 20%;
	background: rgb(251,66,80);/*rgb(0,173,94*/
	color: #fff;
	cursor: pointer;
}

input[type="submit"]:hover {	
	background: rgb(135,3,13);
}

#searchInput{
	width: 70%;
	margin-right: 5px;
	padding-left: 10px;
}

/* input[type="text"]{
	width: 70%;
	margin-right: 5px;
	padding-left: 10px;
} */

.intro{

	margin: 0% 45%;
	width : 100%;
	text-align: center;
	margin-top: 40px;
	color: #212121;
	font-weight: 800;
	font-size: 1.25em;
	}

.intro p {
	color: #212121;
}

.autoCompRes{
	width: 70%
}

.autoCompLig{
	background-color: #fff;
	width: 70%;
	cursor: pointer;
}